<p-card header="Add new user" [style]="{'width': '400px', 'margin':'auto'}">

  <form #addForm="ngForm" *ngIf="!submitted">
    <div class="p-float-label">
    <input id="full-name" name="fullname" [(ngModel)]="User.fullName" #fullname="ngModel" required  pInputText/>
    <label for="full-name">Full name</label>
    <div><small id="fullname-help" [hidden]="fullname.valid || fullname.pristine" class="p-error block">Please enter your full name</small></div>
  </div>
  <br>
  <br>
  <div class="p-float-label">
    <input id="email" name="email" [(ngModel)]="User.email" #email="ngModel" email required  pInputText/>
    <label for="email">Email</label>
    <div><small id="email-help" [hidden]="email.valid || email.pristine" class="p-error block">Please enter your email</small></div>
  </div>
  <br>
  <br>
  <div class="p-float-label">
    <input id="user-name" name="username" [(ngModel)]="User.userName" #username="ngModel" required  pInputText/>
    <label for="user-name">User name</label>
    <div><small id="username-help" [hidden]="username.valid || username.pristine" class="p-error block">Please enter your username</small></div>
  </div>
  <br>
  <br>
  <div class="p-float-label">
  <p-password id="password" name="password" [(ngModel)]="User.password" #password="ngModel" required  [toggleMask]="true" ></p-password>
  <label for="password">Password</label>
  <div><small id="password-help" [hidden]="password.valid || password.pristine" class="p-error block">Please enter your password</small></div>
  </div>
  <br>
  <p-button (click)="saveUser()" [disabled]="!addForm.form.valid" label="Submit" icon="pi pi-check"></p-button>
</form>
<div *ngIf="submitted">
  <h4>User {{User.fullName}} was added successfully!</h4>
  <button pButton (click)="newUser()" class="p-button-success" label="New" icon="pi pi-plus" ></button>
</div>


  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Back" icon="pi pi-replay" class="p-button-outlined p-button-rounded" (click)="goBack()"></button>

  </ng-template>
</p-card>

